<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BitlyLogin" value="shorturlcreator" />
    <add key="BitlyAPIKey" value="R_19a71068c5c642ee09a1f6ab32b77f0f" />
    <add key="KarmacracyUser" value="" />
    <add key="KarmacracyKeypass" value="" />
  </appSettings>
</configuration>
